# ========================
# OS files
# ========================
.DS_Store
Thumbs.db

# ========================
# Node.js / JS
# ========================
node_modules/
dist/
build/
.env

# ========================
# Python
# ========================
.pyc
__pycache__/
*.py[cod]
venv/
.env

# ========================
# Logs
# ========================
*.log

# ========================
# IDE / Editor
# ========================
.vscode/
.idea/
/venv
/venv-agent
.env
